*************************************************************
{% for host in groups['kube'] %}
{% if  hostvars[host]['mounts_antes'] is defined %}
{% for mount in hostvars[host]['mounts_antes'] %}
Servidor {{ host }} Mount: {{ mount }}
{% endfor %}
{% for interface in hostvars[host]['lista_interfaces_antes'] %}
Servidor {{ host }} interface: {{ hostvars[host]['interfaces_antes'][interface]['device'],hostvars[host]['interfaces_antes'][interface]['ipv4']['address'],hostvars[host]['interfaces_antes'][interface]['macaddress'] }}
{% endfor %}
Servidor {{ host }} kernel: {{ hostvars[host]['ansible_kernel'] }}
{% else %}
Servidor {{ host }} Erro: Coleta dos fatos/Servidor não acessivel
{% endif %}    
*************************************************************
{% endfor %}