*************************************************************
{% for host in groups['kube'] %}
{% if hostvars[host]['mounts_status'] is defined and hostvars[host]['interfaces_status'] is defined %}
{% for mount in hostvars[host]['mounts_status']%}
Servidor {{ host }} {{ mount }}
{% endfor %}
{% for interface in hostvars[host]['interfaces_status']%}
Servidor {{ host }} {{ interface }}
{% endfor %}
{% else %}
Servidor {{ host }} Erro: Não voltou após o reboot ou não concluiu o update
{% endif %}  
*************************************************************
{% endfor %}